
<html>
    <head></head>
    <body>
        <div>Header Bar</div>
        <div>
            @RenderSection("messagebar", required:false)
        </div>

        <br/><br />
        <div>
            @RenderBody()
        </div>
    </body>
</html>
