<div class="row">
    <div class="col-6">
        <div class="input-group mt-1 mb-1">
            <input id="search-filter" type="text" class="form-control" placeholder="Search" />
            <div class="input-group-append">
                <button id="search-button" class="btn btn-primary" type="button">Search</button>
            </div>
        </div>
    </div>
</div>