@model EmployeeViewModel

@if (Model is not null && Model.Employee is not null)
{
    <form method="post">
        <div asp-validation-summary="All" class="text-danger">
        </div>

        @if (ViewBag.Action == "edit"){
            <input asp-for="Employee.Id" />
        }

        <div class="row mb-3">
            <div class="col-2">
                <label class="col-form-label" asp-for="Employee.Name"></label>
            </div>
            <div class="col-6">
                <input class="form-control" asp-for="Employee.Name" />
                <span class="text-danger" asp-validation-for="Employee.Name"></span>
            </div>            
        </div>

        <div class="row mb-3">
            <div class="col-2">
                <label class="col-form-label" asp-for="Employee.Position"></label>
            </div>
            <div class="col-6">
                <input asp-for="Employee.Position" class="form-control" />
                <span class="text-danger" asp-validation-for="Employee.Position"></span>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-2">
                <label class="col-form-label" asp-for="Employee.Salary"></label>
            </div>
            <div class="col-6">
                <input asp-for="Employee.Salary" class="form-control" />
                <span class="text-danger" asp-validation-for="Employee.Salary"></span>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-2">
                <label class="col-form-label" asp-for="Employee.DepartmentId"></label>
            </div>
            <div class="col-6">
                <select class="form-control"
                        asp-for="Employee.DepartmentId"
                        asp-items='Model.Departments.Select(
                            x => new SelectListItem() {
                                Text = x.Name,
                                Value = x.Id.ToString(),
                                Selected=(ViewBag.Action == "edit" && x.Id == Model.Employee.DepartmentId)} )'>

                    @if (ViewBag.Action == "create")
                    {
                        <option selected value="0">-- Please Select --</option>
                    }
                    else
                    {
                        <option value="0">-- Please Select --</option>
                    }
                </select>
                <span class="text-danger" asp-validation-for="Employee.DepartmentId"></span>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-2">
                <button type='submit' class="btn btn-primary">Save</button>
                &nbsp;&nbsp;
                <a asp-page="/employees/index" class="btn btn-primary">Cancel</a>
            </div>
            <div class="col-4">
                
            </div>
        </div>
    </form>
}