@using WebApp.Models

@model Department

@{
    Layout = "_Layout";
}

<h3>Department</h3>
<form method='post' action='/departments/edit'>
    <input type='hidden' name='Id' value='@Model.Id' />

    <div class="row mb-3">
        <div class="col-2">
            <label class="col-form-label">Name</label>
        </div>
        <div class="col-6">
            <input type='text' name='Name' value='@Model.Name' class="form-control" />
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-2">
            <label class="col-form-label">Description</label>
        </div>
        <div class="col-6">
            <input type='text' name='Description' value='@Model.Description' class="form-control" />
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-2">
            <button type='submit' class="btn btn-primary">Save</button>
            &nbsp;&nbsp;
            <a href="/departments" class="btn btn-primary">Cancel</a>
        </div>
        <div class="col-4">
        </div>
    </div>
</form>

<form method='post' action='/departments/delete/@Model.Id'>
    <button type='submit' class="btn btn-danger">Delete</button>
</form>




