@using WebApp.Model

@{
    ViewBag.Title = "Access Denied";
}

@section title_section {
    <h3>Access Denied</h3>
}
<div class="text-danger">
    You don't have access to the page required.
</div>

